@CHARSET "UTF-8";

/* --------------- Generic Declarations --------------- */

* {
    box-sizing: border-box;
    /*margin: 5px;
    padding: 5px;
    border: 1px solid;*/
    font-family: Verdana;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
    /*overflow: hidden;*/
}

div {
    display: flex;
    flex-direction: column;
}

div.row {
    flex-direction: row;
}

*.hidden {
    display: none;
}

*.visible {
    display: flex;
}


/* --------------- Generic Declarations End --------------- */


/* --------------- Header --------------- */

div.header {
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-end;*/
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}


/* --------------- Logo Section --------------- */

div.logo-holder {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

div.logo-canvas {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 1);
    color: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
}

div.logo-canvas canvas {
    display: flex;
    /*flex-grow: 1;*/
    background-color: rgba(0, 0, 255, 0.5);
}

div.logo-text {
    margin: 0.5rem;
    cursor: pointer;
}

div.logo-text span {
    font-family: "Monotype Corsiva";
    font-weight: bold;
    font-size: 3rem;
}


/* --------------- Logo Section Ends --------------- */


/* --------------- Login Section --------------- */

div.login-holder {
    position: relative;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

div.login-holder span {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

div.login-form-holder {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: translateTop 250ms linear forwards;
}

@keyframes translateTop {
    0% {
        top: -20rem;
        opacity: 0;
    }
    100% {
        top: 0rem;
        opacity: 1;
    }
}


/* --------------- Login Form --------------- */

div.form-legend {
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    color: rgba(0, 0, 0, 1);
    cursor: default;
}

form.form-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form.login {}

div.fieldset {
    flex-direction: row;
    align-items: center;
    margin: 0.25rem;
}

div.form-field {
    margin: 1rem;
}

div.form-field span {}

div.input-field {
    margin: 0.125rem;
    padding: 0.125rem;
}

div.input-field input[type="text"],
div.input-field input[type="password"],
button.submit {
    padding: 0.25rem;
    line-height: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    transition: all 150ms;
    font-size: 1rem;
}

div.input-field input[type="text"]::placeholder,
div.input-field input[type="password"]::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

div.input-field input[type="text"]:focus,
div.input-field input[type="password"]:focus {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px -1px rgba(158, 173, 250, 1);
    border-bottom: 1px solid rgba(158, 173, 250, 1);
}

button.submit {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    font-size: 1rem;
}

button.submit:hover,
button.submit:focus {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 3px rgba(158, 173, 250, 1);
}


/* --------------- Login Form Ends--------------- */


/* --------------- Login Section Ends --------------- */


/* --------------- Header Ends --------------- */


/* --------------- Navigation Bar --------------- */

div.fixed-nav {
    flex-direction: row;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}

div.relative-nav {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

div.scroller-element {}

div.scroller-element span {
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}


/* --------------- Navigation Bar Ends --------------- */


/* --------------- Container --------------- */

div.effect-element {
    /* min-height: 100vh; */
    padding: 0.5rem;
}

div.effect-element span {
    line-height: 2rem;
}

div.effect-element:nth-child(5n) {
    background-color: rgba(255, 255, 0, 1);
}

div.effect-element:nth-child(5n + 1) {
    background-color: rgba(0, 255, 255, 1);
}

div.effect-element:nth-child(5n + 2) {
    background-color: rgba(255, 0, 0, 1);
}

div.effect-element:nth-child(5n + 3) {
    background-color: rgba(0, 0, 255, 1);
}

div.effect-element:nth-child(5n + 4) {
    background-color: rgba(0, 255, 0, 1);
}


/* --------------- Container Ends --------------- */


/* --------------- Container Transitions --------------- */

div.translate-in {
    animation: translateIn 500ms linear forwards;
}

@keyframes translateIn {
    0% {
        transform: translate();
    }
    100% {
        transform: translate();
    }
}

div.translate-out {
    animation: translateOut 500ms linear forwards;
}

@keyframes translateIn {
    0% {
        transform: translate();
    }
    100% {
        transform: translate();
    }
}


/*
div.full-height {
    animation: maximizeHeight 500ms linear forwards;
}

@keyframes maximizeHeight {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

div.no-height {
    animation: minimizeHeight 500ms linear forwards;
}

@keyframes minimizeHeight {
    0% {
        height: 100vh;
    }
    100% {
        height: 0vh;
    }
}
*/


/* --------------- Container Transitions End --------------- */


/* --------------- Up Arrow --------------- */

div.navigate-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


/* --------------- Up Arrow Ends --------------- */


/* --------------- On-screen Console --------------- */

div.fixed-console {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 1rem;
    font-family: Consolas;
    line-height: 1.5rem;
}


/* --------------- On-screen Console Ends --------------- */
