@CHARSET "utf-8";
* {
    box-sizing: border-box;
}

*.visible {
    display: flex;
}

*.hidden {
    display: none;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
}

div.carousel {
    position: relative;
    align-items: center;
}


/*CSS for Arrows*/

div.carousel-arrow {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    z-index: 2;
    transition: 250ms;
    color: rgba(0, 0, 0, 0.2);
}

div.carousel-arrow:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 1);
}

div.carousel-arrow span {
    font-size: 2rem;
}

div#left {
    left: 0rem;
}

div#right {
    right: 0rem;
}


/*CSS for Arrows End*/

div.carousel-contents-holder {
    position: relative;
    align-items: center;
    height: 500px;
}

div.carousel-content {
    flex-grow: 1;
    overflow: auto;
}

div.carousel-content:nth-child(5n+2) {
    background-color: rgba(255, 240, 255, 1);
}

div.carousel-content:nth-child(5n+4) {
    background-color: rgba(240, 255, 255, 1);
}

div.carousel-content span {
    font-family: Verdana;
    line-height: 1.5rem;
    padding: 1.5rem;
    text-align: justify;
    white-space: pre-wrap;
}


/*CSS for Buttons*/

div.carousel-buttons-holder {
    position: absolute;
    bottom: 0rem;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    transition: 250ms
}

div.carousel-buttons-holder:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

div.carousel-button {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms;
}

div.carousel-button:hover {
    background-color: rgba(0, 0, 0, 1);
}


div.active {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid;
}

/*CSS for Buttons Ends*/
