@charset "utf-8";

* {
	font-family: "Calibri", sans-serif;
}

*.hidden {
	display: none;
}

html,
body {}

div {
	display: flex;
	flex-direction: column;
}

div.container {
	justify-content: center;
	align-items: center;
}

/*div.form-elements-holder {
	padding: 1rem;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

div.input-holder input[type="text"] {
	padding: 0.5rem;
	font-size: 1rem;
}

div.input-holder {
	position: relative;
}

div.suggestions-holder {
	position: absolute;
	top: 100%;
	left: 0%;
}

div.suggestion {
	padding: 0.5rem;
}*/

div.svg-controls {
	justify-content: center;
	align-items: center;
}

div.command-button-holder,
div.cancel-button-holder {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

div.command-button,
div.cancel-command {
	margin: 0.5rem;
	padding: 0.5rem;
	border: 1px solid;
	cursor: pointer;
}

svg {
	width: 500px;
	height: 500px;
	cursor: none;
}

g#graphic line,
g#graphic circle,
g#graphic polygon,
g#graphic path {
	fill: rgba(255, 255, 255, 0.1);
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 1px;
	transition: 250ms;
}

g#graphic line:hover {
	stroke-width: 2px;
}

polygon#canvas {
	fill: rgba(0, 0, 0, 1);
	stroke: rgba(0, 0, 0, 0);
	stroke-width: 0px;
}

g#grid line {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(224, 224, 224, 0.2);
	stroke-width: 1px;
	/*stroke-dasharray: 2px 8px;
	stroke-dashoffset: 1;*/
}


g#grid line.grid-fifty {
	stroke: rgba(127, 182, 220, 0.75);
	stroke-width: 2px;
}

g#graphic circle.point-indicator {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 0, 1);
	stroke-width: 1px;
}

g#drafter line, 
g#drafter polygon {
	fill: rgba(0, 0, 0, 0);
	stroke: rgba(255, 255, 255, 1);
}

div.fixed-console {
	padding: 1rem;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
}
