@charset "utf-8";
* {
  box-sizing: border-box;
  font-family: "Calibri", sans-serif;
}

html, body {
  margin: 0rem;
  padding: 0rem;
}

*.hidden {
  display: none;
}

div {
  display: flex;
  flex-direction: column;
}

/* div.select-box {
  margin: 1rem;
  position: relative;
  border: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(66, 133, 244, 1);
  box-shadow: 0px 5px 5px -5px rgba(66, 133, 244, 1);
}

div.select-parameters {
  flex-direction: row;
  justify-content: space-between;
}

div.select-shadow {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  z-index: 2;
}

div.selected-option {
  cursor: pointer;
  padding: 1rem;
  flex: 1 0 auto;
}

div.select-arrow {
  padding: 1rem;
  cursor: pointer;
  background-color: rgba(66, 133, 244, 1);
}

div.select-arrow svg {
  width: 1rem;
  height: 1rem;
}

div.select-arrow svg polygon {
  fill: rgba(255, 255, 255, 1);
}

div.options-holder {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  z-index: 3;
  border: 1px solid rgba(66, 133, 244, 1);
  border-top: 0px solid rgba(0, 0, 0, 0);
}

div.option {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  cursor: pointer;
}

div.option span {
  line-height: 1.5rem;
}

div.option:hover {
  background-color: rgba(66, 133, 244, 1);
  color: rgba(255, 255, 255, 1);
} */

div.container {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(122, 195, 255, 1);
  height: 100vh;
}

div.select-box#test-select {
  position: relative;
}

div.selected-option {
  padding: 1rem;
  box-shadow: 0px 2px 5px -3px #000;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  z-index: 1;
}

div.selected-option span,
div.option span {
  line-height: 1.5rem;
}

div.option {
  /* position: relative; */
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 5px -5px #000;
  cursor: pointer;
}
