/* For Customised Theme  Color */


/* 
    div.option:hover {
        background-color: Choose the Darkest Shade
        color: White (preferred)
    }
*/

@CHARSET "utf-8";

*.hidden {
    display: none;
}

div {
    display: flex;
    flex-direction: column;
}

div.select-box {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 5px 0 rgba(112, 112, 112, 1);
    line-height: 1.5rem;
    font-family: "Segoe UI";
}

div.select-shadow {
    position: fixed;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 1;
}

div.selected-option {
    cursor: pointer;
    justify-content: center;
    max-width: 10rem;
}

div.selected-option span {
    padding: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.select-arrow {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /*width: 2rem;*/
}

div.select-arrow span {
    padding: 0.5rem;    
}

div.options-holder {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    /*border: 1px solid;*/
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 5px 0 rgba(112, 112, 112, 1);
    z-index: 2;
}

div.option {
    cursor: pointer;
    transition: 250ms;
    position: relative;
}

div.option-separator {
    padding: 1px;
    background-color: rgba(196, 196, 196, 1);
    margin: 2px 0px;
}

div.option-tooltip {
    position: absolute;
    left: 105%;
    top: 0%;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 10px 1px rgba(112, 112, 112, 1);
    word-break: break-word;
    max-height: 10rem;
    overflow-y: auto;
}

/*
div.option-tooltip::after {
    content: "";
    position: absolute;
    right: 100%;
    margin-top: 5px;
    border: 7.5px solid rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
*/

div.option:hover {
    /* To be defined in custom CSS file */
    /*background-color: rgba(41, 14, 214, 1);*/
    /*color: rgba(255, 255, 255, 1);*/
}

div.option span {
    padding: 0.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.option-tooltip span {
    overflow: visible;
    white-space: normal;
}

div.animate-fade-in {
    animation: fadeIn 250ms linear;
}

div.animate-fade-out {
    animation: fadeOut 250ms linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {}
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {}
    100% {
        opacity: 0;
    }
}

/* Custom Scrollbar for Option Toolip */

/* For Chrome ONLY! */

/*div.option-tooltip::-webkit-scrollbar {
    width: 5px;
}
div.option-tooltip::-webkit-scrollbar-button {
    display: none;
}
div.option-tooltip::-webkit-scrollbar-track {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3) inset;
}
div.option-tooltip::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 1);
    outline: 1px solid rgba(90, 90, 90, 1);
}*/

/* Custom Scrollbar for Option Toolip Ends */
