@CHARSET "utf-8";
* {
    box-sizing: border-box;
    /*margin: 5px;
    padding: 5px;
    border: 1px solid;*/
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

*.hidden {
    display: none;
}

div {
    display: flex;
    flex-direction: column;
}

div.accordion {}

div.accordion-component {}

div.accordion-title-holder {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid;
}

svg.parent {
    width: 1rem;
    height: 1rem;
}

path#toggle-minus {}

path#toggle-plus {}

div.accordion-title-holder:hover {
    /* To be defined in custom CSS file */
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

div.accordion-title-text {
    padding: 1rem;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: "Segoe UI";
    line-height: 2rem;
}

div.accordion-title-text span {}

div.accordion-title-icon {
    padding: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

div.accordion-title-icon span {}

div.accordion-content-holder {
    padding: 0.5rem 1rem;
}

div.accordion-content {
    font-family: "Segoe UI";
    line-height: 1.5rem;
}

div.accordion-content span {}
