@CHARSET "UTF-8";

* {
/*
    border: 1px solid;
    margin: 5px;
    padding: 5px;
*/
    box-sizing: border-box;
	font-family: "Arial";
}

div {
    display: flex;
    flex-direction: column;
}

*.visible {
	display: flex;
	visibility: visible;
}

*.hidden {
	display: none;
}

*.invisible {
	visibility: hidden;
}

div.container {
    justify-content: center;
}

div.sort-controls {
	padding: 0.5rem;
	flex-direction: row;
}

div.sort-button {
    flex-direction: row;
	cursor: pointer;
}

div.sort-button span {
	padding: 5px;
	font-size: 1.5rem;
	-webkit-user-select: none;	
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.sort-elements-holder {
	padding: 0.5rem;
}

div.element {
	margin: 5px;
	padding: 5px;
	cursor: default;
}