@charset "utf-8";

$theme-red: rgba(232, 58, 48, 1);
$theme-green: rgba(48, 232, 119, 1);
$pure-white: rgba(255, 255, 255, 1);
$theme-shadow: 0px 3px 5px #000;
$theme-font: "Acme", "Calibri", sans-serif;
$animation-duration: 250ms;

@import url("https://fonts.googleapis.com/css?family=Acme");

* {
  box-sizing: border-box;
  &.hidden {
    display: none;
  }
}

html,
body {
  margin: 0rem;
  padding: 0rem;
}

div {
  display: flex;
  flex-direction: column;

  &.container {
    padding: 1rem;
  }

  &.test-container {
    justify-content: center;
    align-items: center;

    div.button-holder {
      // box-shadow: $theme-shadow;
      position: relative;

      div.step {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &#one {
          div.button-icon {
            justify-content: center;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            flex: 1;

            &:hover {
              g {
                fill: $theme-red;
              }

              g#dustbin-cover-group {
                transform-origin: 50% 50%;
                transform: translateY(-10px) rotateZ(-10deg);
              }
            }

            svg.button {
              width: 4rem;
              height: 4rem;

              g {
                transition: all $animation-duration;
              }

              g#dustbin-cover-group use {
                mask: url(#cover-cut-mask);
              }

              g#dustbin-body-group use {
                mask: url(#dustbin-fold-mask);
              }
            }
          }

          div.button-text,
          div.deleted-text {
            justify-content: center;
            align-items: center;
            flex: 0;
            overflow: hidden;
            padding: 1rem 0rem;
            cursor: pointer;

            span {
              text-align: center;
              font-family: $theme-font;
              font-size: 2rem;
              text-transform: uppercase;
              line-height: 3rem;
              overflow: hidden;
            }
          }

          div.button-text {
            background-color: $theme-red;
            color: $pure-white;
            border-radius: 10px 10px 0px 0px;
          }

          div.deleted-text {
            background-color: $theme-green;
            color: $pure-white;
            border-radius: 10px 10px 10px 10px;
          }
        }

        &#two {
          div.button-confirm-holder {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            z-index: 1;

            div.button-confirm {
              padding: 0rem;
              cursor: pointer;
              transition: all $animation-duration;
              position: absolute;
              top: 100%;
              height: 0%;
              // background-color: rgba(0, 0, 0, 0.1);

              &:hover {
                background-color: $theme-red;
                color: $pure-white;
              }

              &:first-child {
                right: 50%;
                left: 0%;
                border-radius: 0px 0px 0px 10px;
              }

              &:last-child {
                left: 50%;
                right: 0%;
                border-radius: 0px 0px 10px 0px;
              }

              span {
                text-align: center;
                font-family: $theme-font;
                font-size: 2rem;
                text-transform: uppercase;
                line-height: 3rem;
                overflow: hidden;
              }
            }
          }
        }

        // // &#three {
        // div.deleted-text {
        //   padding: 1rem;
        //   background-color: $theme-green;
        //   color: $pure-white;
        //   border-radius: 10px 10px 10px 10px;

        //   span {
        //     text-align: center;
        //     font-family: $theme-font;
        //     font-size: 2rem;
        //     text-transform: uppercase;
        //     line-height: 3rem;
        //     overflow: hidden;
        //   }
        // }
        // // }
      }
    }
  }
}
