@import url("https://fonts.googleapis.com/css?family=Acme");
* {
  box-sizing: border-box;
}
*.hidden {
  display: none;
}

html,
body {
  margin: 0rem;
  padding: 0rem;
}

div {
  display: flex;
  flex-direction: column;
}
div.container {
  padding: 1rem;
}
div.test-container {
  justify-content: center;
  align-items: center;
}
div.test-container div.button-holder {
  position: relative;
}
div.test-container div.button-holder div.step {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.test-container div.button-holder div.step#one div.button-icon {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  flex: 1;
}
div.test-container div.button-holder div.step#one div.button-icon:hover g {
  fill: #e83a30;
}
div.test-container div.button-holder div.step#one div.button-icon:hover g#dustbin-cover-group {
  transform-origin: 50% 50%;
  transform: translateY(-10px) rotateZ(-10deg);
}
div.test-container div.button-holder div.step#one div.button-icon svg.button {
  width: 4rem;
  height: 4rem;
}
div.test-container div.button-holder div.step#one div.button-icon svg.button g {
  transition: all 250ms;
}
div.test-container div.button-holder div.step#one div.button-icon svg.button g#dustbin-cover-group use {
  mask: url(#cover-cut-mask);
}
div.test-container div.button-holder div.step#one div.button-icon svg.button g#dustbin-body-group use {
  mask: url(#dustbin-fold-mask);
}
div.test-container div.button-holder div.step#one div.button-text,
div.test-container div.button-holder div.step#one div.deleted-text {
  justify-content: center;
  align-items: center;
  flex: 0;
  overflow: hidden;
  padding: 1rem 0rem;
  cursor: pointer;
}
div.test-container div.button-holder div.step#one div.button-text span,
div.test-container div.button-holder div.step#one div.deleted-text span {
  text-align: center;
  font-family: "Acme", "Calibri", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 3rem;
  overflow: hidden;
}
div.test-container div.button-holder div.step#one div.button-text {
  background-color: #e83a30;
  color: white;
  border-radius: 10px 10px 0px 0px;
}
div.test-container div.button-holder div.step#one div.deleted-text {
  background-color: #30e877;
  color: white;
  border-radius: 10px 10px 10px 10px;
}
div.test-container div.button-holder div.step#two div.button-confirm-holder {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
div.test-container div.button-holder div.step#two div.button-confirm-holder div.button-confirm {
  padding: 0rem;
  cursor: pointer;
  transition: all 250ms;
  position: absolute;
  top: 100%;
  height: 0%;
}
div.test-container div.button-holder div.step#two div.button-confirm-holder div.button-confirm:hover {
  background-color: #e83a30;
  color: white;
}
div.test-container div.button-holder div.step#two div.button-confirm-holder div.button-confirm:first-child {
  right: 50%;
  left: 0%;
  border-radius: 0px 0px 0px 10px;
}
div.test-container div.button-holder div.step#two div.button-confirm-holder div.button-confirm:last-child {
  left: 50%;
  right: 0%;
  border-radius: 0px 0px 10px 0px;
}
div.test-container div.button-holder div.step#two div.button-confirm-holder div.button-confirm span {
  text-align: center;
  font-family: "Acme", "Calibri", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 3rem;
  overflow: hidden;
}

/*# sourceMappingURL=buttonv1.css.map */
