* {
  box-sizing: border-box;
  font-family: "Acme", "Calibri", sans-serif;
}
*.hidden {
  display: none;
}

html,
body {
  margin: 0rem;
  padding: 0rem;
}

div {
  display: flex;
  flex-direction: column;
}
div.container {
  justify-content: center;
  align-items: center;
}
div div.box-holder div.box {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1000ms;
  transform-origin: center;
}
div div.box-holder div.box div.box-face {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
div div.box-holder div.box div.box-face#face-front {
  background-color: #e83034;
  color: white;
}
div div.box-holder div.box div.box-face#face-back {
  background-color: #e83034;
  color: white;
}
div div.box-holder div.box div.box-face#face-right {
  background-color: #1378b5;
  color: white;
}
div div.box-holder div.box div.box-face#face-left {
  background-color: #1378b5;
  color: white;
}
div div.box-holder div.box div.box-face#face-top {
  background-color: #ece948;
  color: black;
}
div div.box-holder div.box div.box-face#face-bottom {
  background-color: #ece948;
  color: black;
}
div div.box-holder div.box div.box-face div.confirm-holder {
  flex-direction: row;
}
div div.box-holder div.box div.box-face div.confirm-holder div.confirm {
  padding: 1rem;
}
div div.control-holder {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}
div div.control-holder div.control {
  padding: 1rem;
  flex-direction: row;
}

/*# sourceMappingURL=cubeButton.css.map */
