@charset "utf-8";

$theme-font: "Acme", "Calibri", sans-serif;
$pure-white: rgba(255, 255, 255, 1);
$pure-black: rgba(0, 0, 0, 1);
// $cube-colors: #e83034 #1378b5 #ece948;
// $cube-colors: #e83034 #1378b5 #ece948 #e83034 #1378b5 #ece948;
// $color-list: rgba(232, 48, 52, 0.75) $pure-white, rgba(19, 120, 181, 0.75) $pure-white, rgba(236, 233, 72, 0.75) $pure-black;
$color-list: rgba(232, 48, 52, 1) $pure-white, rgba(19, 120, 181, 1) $pure-white, rgba(236, 233, 72, 1) $pure-black;

@mixin box-color {
  // @each $color in $cube-colors {
  //   $index: index(
  //     $list: $cube-colors,
  //     $value: $color
  //   );
  //   div.cube-face:nth-of-type(#{$index}) {
  //     background-color: $color;
  //   }
  // }
  // @for $index from 1 through length($cube-colors) {
  //   $color: nth($list: $cube-colors, $n: $index);
  //   div.cube-face:nth-of-type(#{$index}n) {
  //     background-color: $color;
  //   }
  // }

  @each $combination in $color-list {
    $index: index(
      $list: $color-list,
      $value: $combination
    );
    $background: nth(
      $list: $combination,
      $n: 1
    );
    $foreground: nth(
      $list: $combination,
      $n: 2
    );
    div.box-face:nth-of-type(#{$index}n) {
      background-color: $background;
      color: $foreground;
    }
    // div.box-face:nth-of-type(#{$index + length($color-list)}) {
    //   background-color: $background;
    //   color: $foreground;
    // }
  }
}

* {
  box-sizing: border-box;
  font-family: $theme-font;

  &.hidden {
    display: none;
  }
}

html,
body {
  margin: 0rem;
  padding: 0rem;
}

div {
  display: flex;
  flex-direction: column;

  &.container {
    // padding: 10rem;
    justify-content: center;
    align-items: center;
    // height: 100vh;
  }

  div.box-holder {
    // margin: 0 auto;
    // justify-content: center;
    // align-items: center;
    div.box {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      transform-style: preserve-3d;
      // transform: translateZ(-100px);
      transition: transform 1000ms;
      transform-origin: center;
      // transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
      // transform: rotateX(-20deg) rotateY(45deg) rotateZ(0deg);

      div.box-face {
        padding: 1rem;
        cursor: pointer;
        // position: absolute;
        position: relative;
        // transition: all 1000ms;
        // white-space: nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        &#face-front {
          // transform: rotateY(0deg);
          background-color: nth($list: nth($list: $color-list, $n: 1), $n: 1);
          color: nth($list: nth($list: $color-list, $n: 1), $n: 2);
        }
        &#face-back {
          // transform: rotateY(180deg);
          background-color: nth($list: nth($list: $color-list, $n: 1), $n: 1);
          color: nth($list: nth($list: $color-list, $n: 1), $n: 2);
        }
        &#face-right {
          // transform: rotateY(90deg);
          background-color: nth($list: nth($list: $color-list, $n: 2), $n: 1);
          color: nth($list: nth($list: $color-list, $n: 2), $n: 2);
        }
        &#face-left {
          // transform: rotateY(-90deg);
          background-color: nth($list: nth($list: $color-list, $n: 2), $n: 1);
          color: nth($list: nth($list: $color-list, $n: 2), $n: 2);
        }
        &#face-top {
          // transform: rotateX(90deg);
          background-color: nth($list: nth($list: $color-list, $n: 3), $n: 1);
          color: nth($list: nth($list: $color-list, $n: 3), $n: 2);
        }
        &#face-bottom {
          // transform: rotateX(-90deg);
          background-color: nth($list: nth($list: $color-list, $n: 3), $n: 1);
          color: nth($list: nth($list: $color-list, $n: 3), $n: 2);
        }

        div.confirm-holder {
          flex-direction: row;
          div.confirm {
            padding: 1rem;
          }
        }
      }

      // @include box-color();
    }
  }

  div.control-holder {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    div.control {
      padding: 1rem;
      flex-direction: row;
    }
  }
}
