@CHARSET "UTF-8";
* {
    /*
    border: 1px solid;
    margin: 5px;
    padding: 5px;
*/
    box-sizing: border-box;
    font-family: "Segoe UI";
}

html,
body {
    margin: 0rem;
    padding: 0rem;
    /*overflow: hidden;*/
}

div {
    display: flex;
    flex-direction: column;
}

div.row {
    flex-direction: row;
}

*.visible {
    display: flex;
    visibility: visible;
}

*.hidden {
    display: none;
}

*.invisible {
    visibility: hidden;
}

div.container {
    justify-content: center;
}

div.try-experiment {
    margin: 1rem;
    padding: 1rem;
}

div.try-experiment span {
    margin: 5px;
}


/* --------------- Context Menu CSS --------------- */

div.context-sensitive {
    position: relative;
}

div.context-menu-holder {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    z-index: 9;
    justify-content: center;
}

div.context-menu {
    flex: 1 1 auto;
    width: 300px;
}

div.context-menu-item {
    padding: 0.5rem;
    transition: 250ms;
    justify-content: space-between;
    align-items: center;
}

div.context-menu-item:hover {
    background-color: rgba(240, 240, 240, 1);
}

div.context-menu-item:active {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(15, 15, 15, 1);
}

div.context-menu-item span {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.context-menu-item span:hover {
    white-space: normal;
}

div.context-menu-item span:nth-child(n) {
    max-width: 150px;
}

div.context-menu-item span:nth-child(2n) {
    max-width: 75px;
    color: rgba(150, 150, 150, 1);
}

div.context-menu-separator {
    margin: 0.5rem;
    padding: 0.5px;
    background-color: rgba(0, 0, 0, 1);
}


/* --------------- Context Menu CSS Ends --------------- */
