@CHARSET "UTF-8";
* {
    /*
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    */
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
    /*overflow: hidden;*/
}

div {
    display: flex;
    flex-direction: column;
}

div.row {
    flex-direction: row;
}

*.visible {
    display: flex;
    visibility: visible;
}

*.hidden {
    display: none;
}

*.invisible {
    visibility: hidden;
}

div.container {
    justify-content: space-around;
    background-color: rgba(255, 255, 190, 1);
    flex-direction: row;
}

div.experiment {
    /*    margin: 1rem;*/
    flex-grow: 1;
}

div.control {
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    padding: 0.5rem;
}

div.experiment span {
    margin: 0.5rem;
    padding: 0.5rem;
}

div.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
}

div.form form fieldset {
    border: none;
    outline: none;
}

div.form form input,
div.form form button {
    margin: 0.5rem;
    margin-top: 0rem;
    padding: 0.5rem;
}

div.buttons button {
    margin: 0.5rem;
    padding: 0.5rem;
}

div.fixed-console {
    position: fixed;
    top: 0rem;
    right: 0rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Verdana;
}
