@CHARSET "utf-8";
* {
	box-sizing: border-box;
	/*margin: 5px;
    padding: 5px;
    border: 1px solid;*/
	font-family: "Calibri", sans-serif;
}

*.hidden {
	display: none;
}

html,
body {
	margin: 0rem;
	padding: 0rem;
}

div {
	display: flex;
	flex-direction: column;
}

div.container {
	padding: 1rem;
}

span.button {
	padding: 5px 1rem;
	margin: 1rem;
	border: 1px solid;
	border-radius: 2px;
	cursor: pointer;
}

@keyframes doNothing {}


/* Start: For Shadow DOM */


/* End: For Shadow DOM */


/* Start: For Request Animation Frame */



/* div.animation-canvas {
	width: 10rem;
	height: 10rem;
	border: 1px solid;
	margin: 1rem;
	background-color: rgba(250, 250, 250, 1);
	justify-content: center;
	align-items: center;
	animation: scaleAlternate 10000ms linear infinite;
}

@keyframes scaleAlternate {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(5, 5);
	}
	100% {
		transform: scale(1, 1);
	}
} */



/* End: For Request Animation Frame */


/*Start: For Blob Practice*/


/*
div.form {
    padding: 5px;
    flex-direction: row;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    margin: 1rem;
}

*/


/*End: For Blob Practice*/


/* Start: Promise Practice */


/* End: Promise Practice */


/* Start: IndexedDB Practice */


/*
div.button-holder {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
*/


/* End: IndexedDB Practice */


/* Start: JavaScript Debounce */


/* End: JavaScript Debounce */
