@CHARSET "utf-8";

/*
    ---------------    
    Colors for Default Theme:
    rgba(000, 000, 000, 1) Darkest
    rgba(229, 229, 229, 1) Medium
    rgba(255, 255, 255, 1) Lightest 
    ---------------
    Colors for Blue Theme:
    rgba(057, 062, 127, 1) Darkest
    rgba(000, 020, 255, 1) Medium
    rgba(210, 210, 255, 1) Lightest 
    ---------------
    Color Used for Red Theme:
    rgba(127, 062, 057, 1) Darkest
    rgba(255, 021, 000, 1) Medium
    rgba(255, 210, 210, 1) Lightest
    ---------------
    Colors Used for Green Theme:
    rgba(057, 127, 071, 1) Darkest
    rgba(000, 255, 052, 1) Medium
    rgba(210, 255, 210, 1) Lightest
    ---------------
*/

* {
    box-sizing: border-box;
    /*margin: 5px;
    padding: 5px;
    border: 1px solid;*/
    font-family: "Segoe UI";
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

*.hidden {
    display: none;
}

div {
    display: flex;
    flex-direction: column
}

div.container {
    padding: 1rem;
}

div.form-holder {}

div.form {}

div.form-superfieldset {}

div.superfieldset-content {
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

div.superfieldset-title {}

div.superfieldset-actions {
    justify-content: center;
    align-items: center;
}

div.superfieldset-title span {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

div.superfieldset-actions span {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

div.form-fieldset {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.form-field {
    flex-direction: row;
    flex: 1 0 0;
}

div.form-field:nth-child(odd) {
    justify-content: flex-end;
}

div.form-field:nth-child(even) {
    justify-content: flex-start;
}

div.form-label {
    cursor: default;
    padding: 0.5rem;
}

div.form-input {
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
}

div.form-label span {
    padding: 5px;
    line-height: 1.5rem;
    text-align: right;
}

div.form-input label {
    padding: 5px;
    line-height: 1.5rem;
}

div.form-input input {
    padding: 5px;
    line-height: 1.5rem;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

div.form-input input:focus {
    border: none;
    outline: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.7);
}

div.form-input input[type="radio"] {
    margin: 0rem;
}

div.button {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    /*background-color: rgba(0, 108, 0, 1);*/
    /*color: rgba(255, 255, 255, 1);*/
}

div.button span {
    cursor: pointer;
}


/* For Color Theme */

/* Default Theme */

div.button {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

div.accordion-title-holder:hover {
    background-color: rgba(229, 229, 229, 1);
}

div.option:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

/* Green Theme */

/*div.button {
    background-color: rgba(057, 127, 071, 1);
    color: rgba(255, 255, 255, 1);
}

div.accordion-title-holder:hover {
    background-color: rgba(210, 255, 210, 1);
}

div.option:hover {
    background-color: rgba(057, 127, 071, 1);
    color: rgba(255, 255, 255, 1);
}*/

/* Blue Theme */

/*
div.button {
    background-color: rgba(057, 062, 127, 1);
    color: rgba(255, 255, 255, 1);
}

div.accordion-title-holder:hover {
    background-color: rgba(210, 210, 255, 1);
}

div.option:hover {
    background-color: rgba(057, 062, 127, 1);
    color: rgba(255, 255, 255, 1);
}
*/

/* Red Theme */

/*
div.button {
    background-color: rgba(127, 062, 057, 1);
    color: rgba(255, 255, 255, 1);
}

div.accordion-title-holder:hover {
    background-color: rgba(255, 210, 210, 1);
}

div.option:hover {
    background-color: rgba(127, 062, 057, 1);
    color: rgba(255, 255, 255, 1);
}
*/
