@CHARSET "utf-8";
* {
    box-sizing: border-box;
    /*border: 1px solid;
    margin: 5px;
    padding: 5px;*/
    font-family: "Segoe UI", sans-serif;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

*.hidden {
    display: none;
}

div {
    display: flex;
    flex-direction: column;
}

div.container {
    padding: 1rem;
}

div.svg-holder {
    /*justify-content: center;
    align-items: center;*/
}

div.button-holder {
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

div.button span {
    border: 1px solid;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}

svg {
    background-color: rgba(0, 255, 0, 0.2);
}


/* For Scale */

g.scale {
    background-color: rgba(160, 160, 160, 1)
}

g.ten path {
    stroke-width: 1px;
    stroke: rgba(240, 240, 190, 1);
}

g.fifty path {
    stroke-width: 2px;
    stroke: rgba(190, 190, 240, 1);
}

g.hundred path {
    stroke-width: 3px;
    stroke: rgba(240, 190, 190, 1);
}

g.two-fifty {
    stroke-width: 2px;
    stroke: rgba(100, 100, 240, 1);
}

g.five-hundred {
    stroke-width: 3px;
    stroke: rgba(240, 100, 100, 1);
}


/* Scale CSS Ends */


/* For Carrom */

g.carrom {}

g.carrom g.rectangle {}

g.carrom g.rectangle g.border {}

g.carrom g.rectangle g.border path {}

g.carrom g.rectangle g.striker-line {}

g.carrom g.rectangle g.striker-line path {}

g.rectangle path {
    fill-rule: evenodd;
}

g.carrom g.circle {}

g.carrom g.circle circle {}

g.carrom g.circle g.pocket path {
    stroke: rgba(255, 0, 255, 1);
    stroke-width: 1px;
}

g.carrom g.circle g.center {}

g.carrom g.circle g.center-queen {}

g.carrom g.circle g.center-queen path {
    fill: rgba(255, 0, 0, 1);
}

g.carrom g.circle g.center-outer-border {}

g.carrom g.circle g.center-outer-border path {
    fill-rule: evenodd;
}


/* Carrom CSS Ends */


/* For Icons */

g.icon {}

g.icon circle.initial-point-indicator {
    fill: rgba(255, 0, 0, 1);
}

g.material-design {}

g.material-design path {
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;
    fill: rgba(0, 0, 0, 0);
    stroke-dasharray: 625000;
    /*animation: dash 5s linear forwards;*/
}

g.hamburger path {}

path#hamburger-open {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

g.wifi {
    /*transition: all 1s linear;*/
}

g.wifi path {
    /*transition: all 1s linear;*/
}

@keyframes dash {
    from {
        /*stroke-dasharray: 100%;*/
        stroke-dashoffset: 50%;
    }
    to {
        /*stroke-dasharray: 100%;*/
        stroke-dashoffset: 0%;
    }
}

g.bluetooth path {}

g.mobile-data path {}

g.airplane path {}

g.location path {}

g.sound path {}

g.orientation path {}

path#auto-rotate {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
}

g.battery path {}

g.flashlight path {}

g.cast path {}

g.wifi-hotspot path {}

path#wifi-hotspot {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

g.nfc path {}

g.settings path {}

g.edit path {}


/* Icon CSS Ends*/
