@CHARSET "utf-8";
* {
    box-sizing: border-box;
    /*margin: 5px;
    padding: 5px;
    border: 1px solid;*/
}

*.visible {
    display: flex;
}

*.hidden {
    display: none;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
    font-family: Verdana;
    line-height: 1.5rem;
    transition: 250ms;
}

a:link {}

a:visited {}

a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

a:active {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

div.container {
    padding: 1rem;
}

div.form-holder {
    /*flex-direction: row;*/
    justify-content: center;
}

div.form {}


/*div.form * {border: 1px solid;}*/

div.field-holder {
    flex-direction: row;
    justify-content: center;
}

div.field-label {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    flex: 1 0 0;
    white-space: nowrap;
    cursor: default;
}

div.field-label span {
    font-family: Verdana;
    line-height: 1.5rem;
    margin: 5px;
    padding: 5px;
}

div.field-input {
    flex-direction: row;
    flex: 1 0 0;
    justify-content: flex-start;
    align-items: baseline;
}

div.field-input input,
div.field-input span,
div.field-input textarea {
    margin: 5px;
    padding: 5px;
    font-family: Verdana;
    line-height: 1.5rem;
}

/*div.field-input input[type="range"] {
    cursor: ew-resize;
}*/

/*div.field-input span {
    cursor: default;
}*/

div.field-input textarea {
    resize: none;
    height: 8.25rem;
    width: 15rem;
}


/* --------------- Select Dropdown --------------- */

div.select-dropdown {
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid;
}

div.selected-option {
    align-items: baseline;
}

div.selected-option span {
    margin: 5px;
    padding: 5px;
    font-family: Verdana;
    line-height: 1.5rem;
    cursor: default;
}

div.options-holder {}

div.option {
    cursor: pointer;
    transition: 250ms;
}

div.option:hover {
    background-color: rgba(30, 30, 240, 1);
    color: rgba(255, 255, 255, 1);
}

div.option span {
    margin: 0rem;
    padding: 10px;
    font-family: Verdana;
    line-height: 1.5rem;
}

div.select-arrow {
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

div.select-arrow span {
    padding: 10px;
    font-family: Verdana;
    line-height: 1.5rem;
}


/* --------------- Select Dropdown Ends --------------- */

div.field-button {
    cursor: pointer;
    border: 1px solid;
    margin: 5px;
}

div.field-button span {
    font-family: Verdana;
    line-height: 1.5rem;
    padding: 1rem;
}

div.generate-button {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.generate-button span {
    font-family: Verdana;
    line-height: 1.5rem;
    padding: 1rem;
    margin: 5px;
    border: 1px solid;
}


/* --------------- Demo Section --------------- */

div.demo-output * {
    /*margin: 5px;
    padding: 5px;
    border: 1px solid;*/
}

div.demo-output {
    /*background-color: rgba(230, 230, 230, 1);
    padding: 1rem;*/
}


/* --------------- Demo Section Ends --------------- */

div.download-buttons-holder {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;    
}

div.fixed-console {
    position: fixed;
    top: 0rem;
    right: 0rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 1);
    padding: 1rem;
    font-family: monospace;
}
