@CHARSET "utf-8";
* {
    box-sizing: border-box;
}

*.visible {
    display: flex;
}

*.hidden {
    display: none;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
}

span {
    padding: 0.5rem;
    line-height: 1.5rem;
    font-family: "Segoe UI", sans-serif;
}

div.modal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.modal-button {
    background-color: rgba(255, 255, 255, 1);
    transition: 250ms;
    border: 1px solid;
}

div.modal-button:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

div.modal-button:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

div.modal-button span {
    padding: 1rem;
    cursor: pointer;
}

div.modal-container {
    position: fixed;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

div.modal-box {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 1);
    max-width: 80vw;
    max-height: 90vh;
}

div.modal-separator {
    /*padding: 1px;
    background-color: rgba(190, 190, 190, 1);*/
    /*border: 1px solid;*/
}

div.modal-title-holder {
    flex-direction: row;
    justify-content: space-between;
    /*box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);*/
    /*border-bottom: 1px solid;*/
    background-color: rgba(0, 0, 0, 1);
}

div.modal-title {
    justify-content: center;
    padding: 1rem;
    cursor: default;
    overflow: hidden;
}

div.modal-title span {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.modal-close-button {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

div.modal-close-button svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg);
}

div.modal-close-button svg path {
    transform-origin: 50% 50%;
    fill: rgba(255, 255, 255, 1);
}

div.modal-close-button span {
    font-size: 1.5rem;
}

div.modal-content-holder {
    max-width: 80vw;
    max-height: 50vh;
}

div.modal-content {
    padding: 1rem;
    cursor: default;
    overflow: auto;
}

div.modal-content span {
    white-space: pre-wrap;
}

div.modal-footer-holder {
    /*border-top: 1px solid;*/
    /*box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 1);*/
    background-color: rgba(0, 0, 0, 1);
}

div.modal-footer {
    padding: 1rem;
    cursor: default;
}

div.modal-footer span {
    color: rgba(255, 255, 255, 1);
}
