@CHARSET "utf-8";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {}

svg path {
    /*fill: none;*/
    /*stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;*/
    transform-origin: 50% 50% !important;
}

path#hamburger-line-1 {}

path#hamburger-line-2 {}

path#hamburger-line-3 {}
