@CHARSET "utf-8";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {}

svg path {
    fill: rgba(0, 0, 140, 1);
    stroke: none;
    stroke-width: 0px;
    transform-origin: 50% 50% !important;
}
