@CHARSET "utf-8";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {}

svg path {
    fill: none;
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;
    transform-origin: 50% 50% !important;
    backface-visibility: visible;
}

path#arrow-line {
    fill: initial;
}

path#bluetooth-capsule {
    fill: none;
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;
}

path#bluetooth-line {}

path[id*="hamburger-line-"] {
    fill: initial;
    stroke: initial;
    stroke-width: initial;
}

path#hamburger-line-1 {}

path#hamburger-line-2 {}

path#hamburger-line-3 {}

g#wifi-strength {
    transform-origin: 75px 110px;
    transform: rotate(45deg);
}

path[id*="toggle-"] {
    fill: initial
}

path#toggle-minus {}

path#toggle-plus {}