@CHARSET "utf-8";
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0rem;
    padding: 0rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {}

svg path {
    fill: none;
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;
    transform-origin: 50% 50% !important;
}

g#wifi-strength {
    transform-origin: 75px 110px;
    transform: rotate(45deg);
}
